# Object files
*.o

# Backups
*~

# Mac OS X metadata
*.DS_Store
BasiliskII/src/uae_cpu/build68k
BasiliskII/src/uae_cpu/cpudefs.cpp
BasiliskII/src/uae_cpu/cpuemu.cpp
BasiliskII/src/uae_cpu/cpustbl.cpp
BasiliskII/src/uae_cpu/cputbl.h
BasiliskII/src/uae_cpu/gencpu
BasiliskII/src/uae_cpu/cpuemu_nf.cpp
BasiliskII/src/uae_cpu/cpustbl_nf.cpp
